@import 'setup';
@import 'variables';


* {
    padding: 0;
    margin: 0;
}

body {
    font-family: $secondaryFont;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

h1 {
    color: skyblue;
    font-family: $primaryFont;
}

p {
    font-family: $secondaryFont;
}

footer {
    background: lightcoral;
}