@import 'setup';
@import 'variables';


/* GENERAL STYLES */

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 125%;
    scroll-behavior: smooth;
}

body {
    font-family: $secondaryFont;
}

p {
    font-family: $secondaryFont;
    font-size: 0.9rem;
    color: #535252;
    line-height: 1.5;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

h1 {
    letter-spacing: 1px;
    color: #111133;
    font-family: $primaryFont;
    font-size: 2.5rem;
}

.patternA, .patternB {
    letter-spacing: 1.5px;
    font-family: $primaryFont;
    color: #ff4f8f;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    text-decoration: 5px underline #fff;
    margin-bottom: 30px;
    display: block;
    text-shadow: 1px 1px 1px #99999987;
}

.patternA {
    text-decoration: 5px underline #fff;
}

.patternB {
    text-decoration: 5px underline #eeeeee;
}

h3 {
    letter-spacing: 1.5px;
    color: #111133;
    font-family: $primaryFont;
    margin: 8px 0 3px;
}

a {
    color: #ff4f8f;
    text-decoration: none;
}

a:hover, a:focus {
    color: #c2245e;
    cursor: pointer;
    transition: 0.3s;
}

img {
    width: 100%;
    display: block;
    height: auto;
}

/* HEADER */ 

header {
    height: 100vh;
    background: #f3f3f3;
    text-align: center;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
}

.navContainer ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    li {
        margin: 20px;
    }
}

.headerAccent {
    background: #e7f3f4;
    padding: 0 3px;
}

.fa-arrow-circle-up {
    position: fixed;
    right: 20px;
    bottom: 50px;
    font-size: 1.8rem;
    opacity: 50%;
}

.fa-arrow-circle-up:hover, 
.fa-arrow-circle-up:focus {
    opacity: 100%;
    cursor: pointer;
}

.introContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.introText {
    margin: 0 8px;
    background: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 450px;
    height: 200px;
    position: relative;
    padding: 25px;
    border: 1px solid #0003;
    box-shadow: 1px 1px 5px 1px #eaeaea;
    p {
        font-size: 1.2rem;
        color: #111133;
    }
}

.bubble:before {
    content: "";
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 10px solid #fff;
    border-top: 10px solid #fff;
    border-bottom: 10px solid transparent;
    left: -20px;
    top: 120px;
}

.introImage {
    max-width: 460px;
    min-width: 120px;
    width: 20%;
}

.introImage img {
    border-radius: 50%;
}

/* ABOUT SECTION */

.about {
    background: #f3f3f3;
    padding: 50px 30px; 
}

/* SKILLS SECTION */


ul {
    list-style: none;
}

.skills {
    padding: 50px 0;
    .skillsUl {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 10px;
        li {
            text-align: center;
            width: 133px;
            margin: 20px 0;
        }
        p {
            font-size: 0.8rem;
        }
        i {
            font-size: 2.5rem;
            margin-bottom: 5px;
            color: #504c57;
        }
        .devicon-jquery-plain, .devicon-firebase-plain {
            display: inline-block;
        }   
    }
}

/* PROJECTS SECTION */

.projects {
    background: #f3f3f3;
    padding: 50px 0;
}

.projectItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background: #fff;
    margin: 20px auto;
    width: 90%;
    min-width: 270px;
    padding: 20px 15px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 1px #ddd;
}

.projectText {
    width: 50%;
    p {
        margin: 10px 0;
    }
}

.projectImage {
    width: 375px;
    border: 2px dashed #b6b6b6;
    border-radius: 10px;
    img {
        border-radius: 10px;
    }
}

.projectLink {
    font-family: $secondaryFont;
    color: #ff4f8f;
    background: #fff;
    text-decoration: none;
    border: 1.5px solid #ff4f8f;
    padding: 6px 9px;
    display: inline-block;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 600;
}

.projectLink:hover, .projectLink:focus, button:hover, button:focus {
    color: #fff;
    background: #ff4f8f;
    cursor: pointer;
    transition: 0.3s ease;
}

.projectAccent {
    color: #111133;
    font-size: 0.7rem;
}

/* CONTACT SECTION */

.contact {
    padding: 50px 0;
}

.contactIcons {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 2rem;
    .fas, .fab {
        margin: 0 10px;
    }
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 500px;
    input, textarea {
        font-family: $secondaryFont;
        color: #111133;
        margin: 8px 0;
        border: 0;
        background: #e7f3f4;
        box-shadow: 1px 1px #ddd;
        padding: 8px;
    }
    textarea {
        max-width: 500px;
    }
    button {
        font-family: $secondaryFont;
        font-weight: 600;
        background: #fff;
        color: #ff4f8f;
        min-width: 100px;
        width: 120px;
        margin: 0 auto;
        margin-top: 10px;
        padding: 8px;
        border-radius: 20px;
        border: 1.5px solid #ff4f8f;
    }
}

/* FOOTER SECTION */

footer {
    background: #000;
    text-align: center;
    padding: 10px 0;
    p {
        color:#fff;
    }
}

/* MEDIA QUERIES */

@media (max-width: 768px) {

    h1 {
        font-size: 2.2rem;
    }

    p {
        font-size: 0.8rem;
    }


    .navContainer ul {
        justify-content: center;
    }

    .introText {
        width: 100%;
        margin: 0;
    }

    .projectText {
        width: 90%;
    }

    .bubble:before {
        left: 235px;
        top: -21px;
        transform: rotate(90deg);
    }

}

@media (max-width: 600px) {

    .bubble:before {
        left: 190px;
    }

}

@media (max-width: 500px) {

    h1 {
        font-size: 1.9rem;
    }

    .navContainer ul {
        li {
            margin: 10px;
        }
    }

    .bubble:before {
        left: 135px;
    }

}

@media (max-width: 365px) {

    h1 {
        font-size: 1.8rem;
    }
    
    p {
        font-size: 0.7rem;
    }

    .navContainer ul {
        li {
            margin: 10px;
            width: 50%;
            font-size: 0.8rem;
        }
    }

    .introText { 
        p {
            font-size: 1rem;
        }
    }

}
