@import 'setup';
@import 'variables';


* {
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

h1 {
    color: skyblue;
}

footer {
    background: lightcoral;
}