html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* GENERAL STYLES */
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  color: #262626;
  line-height: 1.5;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

h1 {
  letter-spacing: 1px;
  color: #111133;
  font-family: "Arimo", sans-serif;
  font-size: 2.5rem;
}

.patternA, .patternB {
  letter-spacing: 1.5px;
  font-family: "Arimo", sans-serif;
  color: #ff4f8f;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
  -webkit-text-decoration: 5px underline #fff;
          text-decoration: 5px underline #fff;
  margin-bottom: 30px;
  display: block;
  text-shadow: 1px 1px 1px #99999987;
}

.patternA {
  -webkit-text-decoration: 5px underline #fff;
          text-decoration: 5px underline #fff;
}

.patternB {
  -webkit-text-decoration: 5px underline #eeeeee;
          text-decoration: 5px underline #eeeeee;
}

h3 {
  letter-spacing: 1.5px;
  color: #111133;
  font-family: "Arimo", sans-serif;
  margin: 8px 0 3px;
}

a {
  color: #ff4f8f;
  text-decoration: none;
}

a:hover, a:focus {
  color: #c2245e;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

/* HEADER */
header {
  height: 100vh;
  background: #f3f3f3;
  text-align: center;
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.navContainer ul li {
  margin: 20px;
}

.headerAccent {
  background: #e7f3f4;
  padding: 0 3px;
}

.fa-arrow-circle-up {
  position: fixed;
  right: 20px;
  bottom: 50px;
  font-size: 1.8rem;
  opacity: 50%;
}

.fa-arrow-circle-up:hover,
.fa-arrow-circle-up:focus {
  opacity: 100%;
  cursor: pointer;
}

.introContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.introText {
  margin: 0 8px;
  background: #fff;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  width: 450px;
  height: 200px;
  position: relative;
  padding: 25px;
  border: 1px solid #0003;
  -webkit-box-shadow: 1px 1px 5px 1px #eaeaea;
          box-shadow: 1px 1px 5px 1px #eaeaea;
}
.introText p {
  font-size: 1.2rem;
  color: #111133;
}

.bubble:before {
  content: "";
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 10px solid #fff;
  border-top: 10px solid #fff;
  border-bottom: 10px solid transparent;
  left: -20px;
  top: 120px;
}

.introImage {
  max-width: 460px;
  min-width: 120px;
  width: 20%;
}

.introImage img {
  border-radius: 50%;
}

/* ABOUT SECTION */
.about {
  background: #f3f3f3;
  padding: 50px 30px;
}

/* SKILLS SECTION */
ul {
  list-style: none;
}

.skills {
  padding: 50px 0;
}
.skills .skillsUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
}
.skills .skillsUl li {
  text-align: center;
  width: 133px;
  margin: 20px 0;
}
.skills .skillsUl p {
  font-size: 0.8rem;
}
.skills .skillsUl i {
  font-size: 2.5rem;
  margin-bottom: 5px;
  color: #504c57;
}
.skills .skillsUl .devicon-jquery-plain, .skills .skillsUl .devicon-firebase-plain {
  display: inline-block;
}

/* PROJECTS SECTION */
.projects {
  background: #f3f3f3;
  padding: 50px 0;
}

.projectItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  margin: 20px auto;
  width: 90%;
  min-width: 270px;
  padding: 20px 15px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 5px 1px #ddd;
          box-shadow: 1px 1px 5px 1px #ddd;
}

.projectText {
  width: 500px;
}
.projectText p {
  margin: 10px 0;
}

.projectImage {
  width: 375px;
  border: 2px dashed #b6b6b6;
  border-radius: 10px;
  margin: 0 10px;
}
.projectImage img {
  border-radius: 10px;
}

.projectLink {
  font-family: "Montserrat", sans-serif;
  color: #ff4f8f;
  background: #fff;
  text-decoration: none;
  border: 1.5px solid #ff4f8f;
  padding: 6px 9px;
  display: inline-block;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 600;
}

.projectLink:hover, .projectLink:focus, button:hover, button:focus {
  color: #fff;
  background: #ff4f8f;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.projectAccent {
  color: #111133;
  font-size: 0.7rem;
}

/* CONTACT SECTION */
.contact {
  padding: 50px 0;
}

.contactIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  font-size: 2rem;
}
.contactIcons .fas, .contactIcons .fab {
  margin: 0 10px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
}
form input, form textarea {
  font-family: "Montserrat", sans-serif;
  color: #111133;
  margin: 8px 0;
  border: 0;
  background: #e7f3f4;
  -webkit-box-shadow: 1px 1px #ddd;
          box-shadow: 1px 1px #ddd;
  padding: 8px;
}
form textarea {
  max-width: 500px;
}
form button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background: #fff;
  color: #ff4f8f;
  min-width: 100px;
  width: 120px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 8px;
  border-radius: 20px;
  border: 1.5px solid #ff4f8f;
}

/* FOOTER SECTION */
footer {
  background: #000;
  text-align: center;
  padding: 10px 0;
}
footer p {
  color: #fff;
}

/* MEDIA QUERIES */
@media (max-width: 1160px) {
  .projectText {
    width: 85%;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 2.2rem;
  }

  p {
    font-size: 0.8rem;
  }

  .navContainer ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .introText {
    width: 100%;
    margin: 0;
  }

  .projectText {
    width: 90%;
  }

  .bubble:before {
    left: 235px;
    top: -21px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 1.9rem;
  }

  .navContainer ul li {
    margin: 10px;
  }

  .bubble:before {
    left: 135px;
  }
}
@media (max-width: 365px) {
  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 0.7rem;
  }

  .navContainer ul li {
    margin: 10px;
    width: 50%;
    font-size: 0.8rem;
  }

  .introText p {
    font-size: 1rem;
  }
}